*{
   margin: 1%;

   padding: 1%;


   box-sizing:border-box;
}

.header {

background-color: #a1beb7;
height: 20%;

   

}

 


.header ul {
   display:flow-root
   color: blueviolet;
}

.header li {
   list-style: lower-latin;
   list-style-position:inherit;


}


.footer {

height: 20px;
   background-color: #e76eb5;
   

}

.footer h3 {
   background-color: blueviolet;
   background-size: 2%;



 }