*{
    margin: 0%;

    padding: 0%;


    box-sizing: border-box;
}

 .header {

background-color: #BBD6B8;

    

 }

  

 
 .header ul {
    display: flex;
    color: blueviolet;
 }

 .header li {
    list-style: lower-latin;
    list-style-position:inherit;


 }


 .footer {

 height: 20px;
    background-color: #e76eb5;

 }

 .footer h3 {
    background-color: blueviolet;
    background-size: 2%;
 }